.ion-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  display: inline-block;
}

.toolbar-title {
  text-align: center;
}

.button-action{
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
